{% extends "bookmodule/layouts/base.html" %}
{% block title %} Book List (CRUD Operations) {% endblock title %}
{% block stylesheets %}
<style>
  
</style>
{% endblock stylesheets %}
{% block content %}
<div class="container">
    <h1>Books List</h1>
    <a href="{% url 'lab9_part1_addbook' %}" class="btn btn-success">Add New Book</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Edition</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>${{ book.price }}</td>
                <td>{{ book.edition }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{% url 'lab9_part1_editbook' book.id %}" class="btn">Edit</a>
                        <a href="{% url 'lab9_part1_deletebook' book.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
