{% extends "bookmodule/layouts/base.html" %}
{% load static %}
{% block title %} List of Books {% endblock title %}
{% block content %}
<h1 style="color: green;">List of Books</h1> <!-- add internal CSS styles here -->

<!-- Internet & World Wide Web -->
<a href="{% url 'books.view_one_book' 1 %}"><h2 style="color: lightskyblue;">Internet & World Wide Web How to Program</h2></a>
<a href="{% url 'books.view_one_book' 1 %}"><img src="{% static 'book1.jpg' %}" alt="Book1 img desc" width="200" height="200"></a>
<hr>

<!-- C++ How to Program -->
<a href="{% url 'books.view_one_book' 2 %}"><h2 style="color: lightskyblue;">C++ How to Program, Late Objects Version</h2></a>
<a href="{% url 'books.view_one_book' 2 %}"><img src="{% static 'book2.jpg' %}" alt="Book2 img desc" width="200" height="200"></a>
<hr>

<!-- Images in Another Folder -->
<a href="{% url 'books.view_one_book' 3 %}"><h2 style="color: lightskyblue;">Images in Another Folder</h2></a>
<a href="{% url 'books.view_one_book' 3 %}"><img src="{% static 'book3.jpg' %}" alt="Book3 img desc" width="200" height="200"></a>
<hr>
{% endblock content %}
