{% extends "bookmodule/layouts/base.html" %}
{% load static %}
{% block title %} Book Details {% endblock title %}
{% block content %}
<h1 style="color: darkred;">Book Details</h1> <!-- add inline CSS -->
<h2>Internet & World Wide Web How to Program</h2>
<p><strong>Author:</strong> Deitel & Deitel</p>
<p><strong>Category:</strong> Technology</p>
<p><strong>Description:</strong> Comprehensive guide to learning HTML, CSS, JavaScript, and more.</p>
<img src="{% static 'images/book1.jpg' %}" alt="Book Image" width="300" height="300">
<a href="{% url 'list_books' %}">Back to List of Books</a>
{% endblock content %}
