{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bookmodule/css/main.css' %}">
    <title>Tables Page</title>
    
</head>
<body>
    <!-- Table 1: Table of Fruits and Prices -->
    <table>
        <caption>Table 1: Table of Fruits and Their Prices</caption>
        <thead>
            <tr>
                <th>Fruit</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Apple</td>
                <td>$0.25</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>$0.50</td>
            </tr>
            <tr>
                <td>Banana</td>
                <td>$1.00</td>
            </tr>
            <tr>
                <td>Pineapple</td>
                <td>$2.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>$3.75</td>
            </tr>
        </tfoot>
    </table>

    <!-- Table 2: Camelid Comparison -->
    <table>
        <caption>Table 2: A more complex sample table</caption>
        <thead>
            <tr>
                <td rowspan="2"  class="image-cell">
                    <img src="{% static 'bookmodule/images/desert.jpg' %}" alt="Desert">
                </td>
                <th colspan="4">Camelid comparison<br>Approximate as of 6/2011</th>
            </tr>
            <tr>
                <th># of humps</th>
                <th>Indigenous region</th>
                <th>Spits?</th>
                <th>Produces wool?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Dromedary</th>
                <td>1</td>
                <td>Arabian Peninsula</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <th>Camels (bactrian)</th>
                <td>2</td>
                <td>Africa/Asia</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <th>Llamas</th>
                <td>1</td>
                <td>Andes Mountains</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
