{% extends "bookmodule/layouts/base.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
<a href="{% url 'users.logout' %}">Logout</a>
<div class="container">
    <h1>{{ title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{{ title }}</button>
    </form>
    <a href="{% url 'list_gallery' %}" class="btn btn-secondary mt-3">Back to Gallery</a>
</div>
{% endblock content %}
